.OverviewTab {
    color: #555555  !important;
    .description{
        line-height: 27px;
    }
    .label{
        color: #000 !important;
        font-family: "Exo", sans-serif !important;
        text-transform: capitalize;
    }
}