.AnnouncementsTab {
  display: flex;
  flex-direction: column;
  gap: 25px;
  .MuiPaper-root{
    box-shadow: none;
    background-color: #fff;
    border-radius: 8px;
  }
  .placeholder {
    color: #000;
    font-family: "Exo", sans-serif !important;
    line-height: 19px;
    text-transform: capitalize;
  }
  .announcement, .announcement-message {
    color: #444;
    line-height: 27px;
  }
  .announcement-title{
    color: #000;
  
  }
}
