@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");
@import "./assets/styles/main.scss";
* {
  font-family: "Jost", sans-serif !important;
}


    .App {
      background-color: #fff;
    overflow-x: hidden;
    min-height: 150vh;
  }


  

