:root {
  /* main colors */
  --primary: #4f008c;
  --primary-50: #b9b6ed;
  --primary-100: #4e008d;
  --primary-200: #c2dfd5;
  --primary-300: #EED8FF;
  --secondary: #555555 !important;
  --ghost-white: #f3f4f9;
  --shade-of-gray: #8f8f8f;
  --light-blue: #0076c8;
  --RoyalBlue: #002b56;
  --gray: #555555 !important;
  --graphite-gray: #4e4c4a;
  --gainsboro: #e0e0e0;
  --light-gray: #f5f5f5;
  --light-gray-100: #f5f4f8;
  --medium-gray: #4c4e54;
  --field-hint-gray: #a6a6a6;
  --dark-gray: #333;
  --light-border: #d9d9d9;
  --gray-border: #D5D8DB;
  --home-background: #f2f2f2;
  --SlateGrey: #5c6366;
  --light-background: #f5f7fa;
  --dark-background: rgba(0, 0, 0, 0.25);
  --gradient-colors: #200239, #22053a, #23063b, #24083b, #260b3c, #280e3e,
    #290f3e, #311b44, #341f46, #3a2749, #3c2a4a, #3f2f4d, #44354f, #473951;
  --dark: #000;
  --pale-blue-gray: #d9e2e4;
  --off-white: #fafafa;
  --dark-shade-gray: #2c2c2c;
  --light-shade-cyan: #e9fefb;
  --medium-gray-shade: #7c7c7c;
  --very-dark-shade-of-gray: #1b1b1b;
  --whitish-gray: #fbfbfb;
  --baby-blue: #edf6ff;
  --pale-sky-blue: #cee5ff;
  --deep-shade-of-red: #9a1220;
  --light-blue-gray: #edf2f5;
  /* common colors */
  --alerts-error-base: #e03137;
  --others-light-blue: #ebf3ff;
  --others-white: #fff;
  --greyscale-900: #111827;
  --bold-gray: #686c73;
  --colors-light-neutral-01: #08283c;
  --greyscale-50: #0a0b0c;
  --greyscale-100: #f7f8f9;
  --greyscale-150: #f7f8fa;
  --greyscale-200: #f1f2f4;
  --greyscale-250: #F9FAFC;
  --greyscale-300: #e9eaec;
  --greyscale-350: #E3E6EC;
  --greyscale-400: #cbd5e0;
  --greyscale-450: #959799;
  --grayscale-500: #a0aec0;
  --greyscale-550: #a6a5a4;
  --greyscale-600: #C9C8C9;
  --greyscale-650: #667085;
  --grayscale-700: #687588;
  --grayscale-750: #6E7C87;
  --greyscale-800: #323b49;
  --greyscale-850: #BFBFBF;
  --alerts-success-base: #09ad5e;
  --alerts-error-light: #ffedec;
  --alerts-warning: #cb8739;
  --colors-light-accent-red: #b03d4a;
  --alerts-info: #2f78ee;
  --medium-gray-shade: #7c7c7c;
  --alerts-error-dark: #c02337;
  --secondary-300: #7c8895;
  --colors-light-primary-card-bg: #f6faff;
  --light-green: #69b99d;
  --gold-star-color: #edc000;
  --success-200: #E2FFF2;
  --success-300: #9ac1b3;
  --success-400: #73a291;
  --success-500: #a8cec1;
  --success-900: #008B27;
  --success-base: #208758;
  --gray: rgba(104, 108, 115, 1);
  --warning: #ffc107;
  --warning-50: #FFF1CC;
  --warning-100: #fff0eb;
  --warning-200: #D2A73A;
  --danger: #e03137;
  --danger-50: #FFDFDF;
  --danger-100: #D40504;
  --orange: #fe964a;
  --gray-100: #686c73;
  --dark-blue: #0d0d42;
  --blue-100: #ebf1ff;
  --blue-200: #EAF2F7;
  --purple: #1d1a4d;
  --reservation-bg: #f2f2f2cc;
  --shadow-global: 0px 0px 0px 0.867px var(--gainsboro) inset;
  --bs-border-radius: 10px;
  --bs-btn-border-radius: 10px;
  --lighter-text: #a1adb2;
  --auth-bg-color-filter: 255, 255, 255;
  --home-bg-color-filter: 13, 13, 66;
}
